<div class="card" *ngIf="loading">
    <div class="card-header">
      select fields
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="addToForm()">
        <div class="row">
        
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Field name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"  formControlName="name" placeholder="enter Field name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Field Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"  formControlName="label" placeholder="enter Field Title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Field Descripion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="controlType" class="form-label" >Type</label>
    
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="controlType">
          <option value="textbox">Text</option>
          <option value="email">Email</option>
          <option value="number">Number</option>
          <option value="date">Date</option>
          <option value="dropdown">Dropdown</option>
          <option value="checkbox">Checkbox</option>
          <option value="radio">Radio</option>
          <option value="textarea">Textarea</option>
        </select>
    
      </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" formControlName="required" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" >Required</label>
        </div>
       <div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary m-4" >Add to Form</button>
        <button type="button" [disabled]="form.invalid" class="btn btn-primary m-4" (click)="addNewField()">Add New Field</button>
        <button type="button"  class="btn btn-primary m-4"  (click)="newForm()"> Create New Form</button>
       </div>
    </div>
    
    </form>
    </div>
    </div>

    <swal
  #Swal
  title="Delete current Form?"
  text="This cannot be undo"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="addNewField()">
</swal>
