<div class="card m-2">
  <div class="card-header">
  Form Preview
  </div>

    <div class="card-body">
    
      <form [formGroup]="dynamicForm" (ngSubmit)="submit()">
      <div *ngFor="let formField of formFieldsArray" formField.name class="m-4" >
      
      <app-showfields [formField]="formField"></app-showfields>
       
        </div>
        <div>
          <button type="submit"  class="btn btn-primary m-4"  >submit</button>
          <button type="submit" class="btn btn-primary" (click)="defaultform()">defaultform</button>
         </div>
        </form>
        <!-- <p>Form value: {{ formValue | json }}</p> -->
    </div>
  </div>






